Ans 1 -

        [] called square brackets are used to create an empty list.

In [1]:
#Example
l1 = []
print(type(l1))

<class 'list'>

Ans 2 -

        As we know list indexing starts from 0. So to assign the value at 3 position we have to give index as 2.

In [2]:
l1 = [2,4,6,8,10]
l1[2] = "hello"
print(l1)

[2, 4, 'hello', 8, 10]

Ans 3 -

        spam = ['a','b','c','d']
        The value of spam[int(int('3'*2)/11)] will be d. As we know '3' is a character or string data type. So when * operator is used with string it repeat the string to second operand no. of times which will evaluate to '33'. As we are converting this string to integer value by using int() function so the value becomes 33 and the whole expression evaluate to 3. The element at index 3 is d.

In [3]:
#Code
spam = ['a','b','c','d']
print(spam[int(int('3'*2)/11)])

d

Ans 4 -

        The value of spam[-1] is also d, this is because of negative indexing is valid in Python.

In [4]:
#Code
print(spam[-1])

d

Ans 5 -

        spam[:2] will print ['a','b']. This is called list slicing. We haven't mentioned the start position so the slicing will start from 0 and ends at index 1 because last position is excluded in list slicing.

In [5]:
#Code
print(spam[:2])

['a', 'b']

Ans6 -

    The value of bacon.index('cat') will be 1

Ans 7 -

    bacon.append(99) will add the value 99 to the end of the list and the list looks like this [3.14,"cat",11,"cat",True,99]

Ans 8 -

        bacon.remove("cat") will remove the first appearance of the "cat" and the list will look like this [3.14,11,"cat",True,99]

Ans 9 -

        (+) when appliend to list is called list concatenation operator. It join the two list.

        (*) when applied to list is called list replication operator. It replicates the list no. of times provided after the operator

In [7]:
#Example of list concatenation
list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1 + list2
list4 = list1*3

print("Concatenated list(+) : ",list3)
print("Replicated list(*) : ",list4)

Concatenated list(+) :  [1, 2, 3, 4, 5, 6]
Replicated list(*) :  [1, 2, 3, 1, 2, 3, 1, 2, 3]

Ans 10 -

        list method append() add the elements at the end of the list while list method insert provide us the functionality to insert element at any index in the list.

Ans 11 - 

        Two methods to remove an items from a list are pop() and remove() methods.

Ans 12 - 

        List values and string values are identical in the sense that they have indexing and the indexing starts from 0. You can iterate over both list values and string values. You can perform slicing over both the data types.

Ans 13 - 

        The main difference between tuples and list is that list are mutable whereas tuples are immutable. Lists are created using square brackets [] whereas Tuples are created using parenthesis ().

Ans 14 -

        t1 = (42,)
        The comma after the element 42 is very important to create a tuple. If we dont put the comma the python will interpret it as an integer inside parenthesis.

Ans 15 -

        To convert a tuple into a list we can use the list function which take tuple as an arguement and return the list with the same items as tuple. And to convert the list into a tuple we can use tuple function which take list as an arguement and return the tuple with the same items as list.

Ans 16 -

        In Python, variables are used to store references (memory addresses) to objects rather than the objects themselves. When you assign a list to a variable, the variable holds the memory address where the list is stored in the computer's memory.

Ans 17 - 

        copy.copy() :- creates a shallow copy of the original object. It copies the top-level elements of the object but does not copy the nested objects. Instead, it creates references to the nested objects. Any changes to the nested objects of the copied object will also got reflected to the original object.

        copy.deepcopy() :- creates a deep copy of the original object. It copies all nested objects within the original object. This means that all nested objects are duplicated, and there are no shared references between the original and the copied object.

In [11]:
import copy

l1 = [1,2,[3,4],5]

l2 = copy.copy(l1)

print(l1)
print(l2)

[1, 2, [3, 4], 5]
[1, 2, [3, 4], 5]

In [12]:
l2[2][0] = 30
print(l1)
print(l2)

[1, 2, [30, 4], 5]
[1, 2, [30, 4], 5]

In [13]:
l3 = copy.deepcopy(l1)
print(l3)
print(l1)

[1, 2, [30, 4], 5]
[1, 2, [30, 4], 5]

In [15]:
l3[2][0] = 60
print(l1)
print(l3)

[1, 2, [30, 4], 5]
[1, 2, [60, 4], 5]